/*
* @Author: Administrator
* @Date:   2016-12-29 00:13:58
* @Last Modified by:   Administrator
* @Last Modified time: 2016-12-29 00:15:42
*/
body,ul,li,ol,dl,dt,dd{
  margin: 0;
  padding: 0;
  list-style: none;
}